## Coursera - IBM Data Science Capstone Project ##

### Brian Lee ###
BrianTrewLee@gmail.com

LinkedIn: https://www.linkedin.com/in/brian-lee-64a2022b/

## 1. Introduction ##

Where in the world can you find a StarBuck's? Well... everywhere... almost. Is there a science to locating a StarBuck's? Can we create a model to predict where a StarBuck's is likely to be located?

In [1]:
# import libraries

import urllib.request # open and read URLs

import json # handle JSON files
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

import requests # handle requests
import pandas as pd # process data as dataframes with Pandas
import numpy as np # handle data in a vectorized manner with NumPy

# !conda install -c conda-forge geopy --yes # uncomment this line if you haven't installed the GeoPy geocoding library yet
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

!conda install -c conda-forge folium=0.5.0 --yes # uncomment this line if you haven't installed the Folium library yet
import folium # map rendering library

# Matplolib plotting library and associated modules
import matplotlib.pyplot as plt 
import matplotlib.cm as cm
import matplotlib.colors as colors

from sklearn.cluster import KMeans # for K-Means clustering with Scikit-Learn

print("Libraries imported!")

Solving environment: done

## Package Plan ##

  environment location: /opt/conda/envs/DSX-Python35

  added / updated specs:
    - folium=0.5.0


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    altair-2.2.2               |           py35_1         462 KB  conda-forge
    branca-0.3.1               |             py_0          25 KB  conda-forge
    folium-0.5.0               |             py_0          45 KB  conda-forge
    openssl-1.0.2r             |       h14c3975_0         3.1 MB  conda-forge
    certifi-2018.8.24          |        py35_1001         139 KB  conda-forge
    ca-certificates-2019.3.9   |       hecc5488_0         146 KB  conda-forge
    vincent-0.4.4              |             py_1          28 KB  conda-forge
    ------------------------------------------------------------
                                           Total:         4.0 MB

The following NEW packages will be INSTALLED:

    altair:          2.2.2-py35_1      conda-forge
    branca:          0.3.1-py_0        conda-forge
    folium:          0.5.0-py_0        conda-forge
    vincent:         0.4.4-py_1        conda-forge

The following packages will be UPDATED:

    ca-certificates: 2019.1.23-0                   --> 2019.3.9-hecc5488_0 conda-forge
    certifi:         2018.8.24-py35_1              --> 2018.8.24-py35_1001 conda-forge

The following packages will be DOWNGRADED:

    openssl:         1.0.2s-h7b6447c_0             --> 1.0.2r-h14c3975_0   conda-forge


Downloading and Extracting Packages
altair-2.2.2         | 462 KB    | ##################################### | 100%
branca-0.3.1         | 25 KB     | ##################################### | 100%
folium-0.5.0         | 45 KB     | ##################################### | 100%
openssl-1.0.2r       | 3.1 MB    | ##################################### | 100%
certifi-2018.8.24    | 139 KB    | ##################################### | 100%
ca-certificates-2019 | 146 KB    | ##################################### | 100%
vincent-0.4.4        | 28 KB     | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done
Libraries imported!

In [2]:
# The code was removed by Watson Studio for sharing.

In [66]:
# Define a function to gather recommended venues, with specifically the name and category, using the explore API

def getNearbyVenues(latitudes, longitudes, radius=300, limit=100):
#def getNearbyVenues(latitudes, longitudes, radius=300, limit=100):
#def getNearbyVenues(latitudes, longitudes, radius=750, limit=100):
#def getNearbyVenues(latitudes, longitudes, radius=2000, limit=100):
    
    count = 0
    venues_list = []
    for lat, lng in zip(latitudes, longitudes):
        print(lat,'-',lng)
         
        #create a unique namefor this pointthat is easier todeal with than a combination of lat and lon
        point_name = "point"+str(count)
            
        # create the API request URL
        url = "https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}".format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lng, 
            radius, 
            limit)
            
        # make the GET request
        results = requests.get(url).json()["response"]["groups"][0]["items"]
        #print("resultscols=",results.columns)
        

        
        # return only relevant information for each nearby venue
        venues_list.append([(
            point_name,
            lat, 
            lng, 
            isStarbucks,
            v["venue"]["name"], 
            v["venue"]["location"]["lat"], 
            v["venue"]["location"]["lng"],  
            v["venue"]["location"]["distance"], 
            v["venue"]["categories"][0]["name"]) for v in results])
        count = count + 1
    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = ["Point Name",
                  "Neighborhood Latitude", 
                  "Neighborhood Longitude", 
                  "Venue", 
                  "Venue Latitude", 
                  "Venue Longitude", 
                  "Venue Distance",           
                  "Venue Category"]
    
    return(nearby_venues)

In [39]:
sf_lat=37.7749
sf_lon=-122.4194
ch_lat=41.8781
ch_lon=-87.6298
la_lat=34.0522
la_lon=-118.2437
starbucks_m_lat=37.744644
starbucks_m_lon=-122.452731
import random

#37.780253, -122.509117
#37.804203, -122.459264 - upper left of starbucks intensive space
#37.767547, -122.409342 - lower right ofstarbucksintensive space
llat=37.767547
ulat=37.804203
llon=-122.459264
ulon=-122.409342
random_lat0 = random.uniform(37.767547,37.804203)
random_lon0 = random.uniform(-122.459264, -122.409342)
random_lat1 = random.uniform(llat,ulat)
random_lon1 = random.uniform(llon, ulon)
random_lat2 = random.uniform(llat,ulat)
random_lon2 = random.uniform(llon, ulon)
random_lat3 = random.uniform(llat,ulat)
random_lon3 = random.uniform(llon, ulon)
random_lat4 = random.uniform(llat,ulat)
random_lon4 = random.uniform(llon, ulon)
random_lat5 = random.uniform(llat,ulat)
random_lon5 = random.uniform(llon, ulon)
random_lat6 = random.uniform(llat,ulat)
random_lon6 = random.uniform(llon, ulon)
random_lat7 = random.uniform(llat,ulat)
random_lon7 = random.uniform(llon, ulon)
random_lat8 = random.uniform(llat,ulat)
random_lon8 = random.uniform(llon, ulon)
random_lat9 = random.uniform(llat,ulat)
random_lon9 = random.uniform(llon, ulon)

data = pd.DataFrame(np.array([[sf_lat, sf_lon], [ch_lat, ch_lon], [la_lat, la_lon], [starbucks_m_lat,starbucks_m_lon], [random_lat0,random_lon0], [random_lat1,random_lon1], [random_lat2,random_lon2], [random_lat3,random_lon3], [random_lat4,random_lon4], [random_lat5,random_lon5], [random_lat6,random_lon6], [random_lat7,random_lon7], [random_lat8,random_lon8], [random_lat9,random_lon9] ]), columns=['Latitude', 'Longitude'])

data

     Latitude   Longitude
0   37.774900 -122.419400
1   41.878100  -87.629800
2   34.052200 -118.243700
3   37.744644 -122.452731
4   37.790783 -122.428801
5   37.775782 -122.445641
6   37.772739 -122.454026
7   37.788490 -122.430317
8   37.772813 -122.431986
9   37.771076 -122.414235
10  37.790278 -122.452856
11  37.776694 -122.424909
12  37.784231 -122.427402
13  37.776961 -122.458635

In [67]:
venues = getNearbyVenues(latitudes = data["Latitude"],
                               longitudes = data["Longitude"]
                               )
venues

37.7749 - -122.4194

NameError: name 'v' is not defined

In [44]:
venues['Venue'].unique()
venues['Venue'].value_counts()

Starbucks                            4
Hero Coffee Bar                      2
Potbelly Sandwich Shop               2
The Grove                            2
CVS pharmacy                         2
Blue Bottle Coffee                   2
Ramen Yamadaya                       2
Rich Table                           2
Shabu-sen                            2
SFJazz Center                        2
Project Juice                        2
Just Salad                           2
20th Century Cafe                    2
Kiss Seafood                         2
Perilla                              1
NEMA Fitness Center                  1
International Orange                 1
The Market                           1
Papalote Mexican Grill               1
Bistro Gambrinus                     1
Fuchsia Dell                         1
Bergerac                             1
Littlejohn's Candies                 1
Central Coffee Tea & Spice           1
Kinokuniya Bookstore                 1
Suginami Aikikai                     1
Mollie Stone's Tower Market          1
Choux Bakery™                        1
Away                                 1
Smoque BBQ                           1
                                    ..
Curry House                          1
Argo Tea                             1
Rossi Swimming Pool                  1
Revival Food Hall                    1
Love N Haight                        1
Downtown Independent                 1
SFFOGG                               1
KitTea                               1
Slim's                               1
Juice Shop                           1
Miette Patisserie                    1
Marukai Market                       1
yakiniQ Cafe                         1
Coco's Famous Fried Lobster          1
Taqueria Miraloma                    1
Wonderland Restaurant                1
Poké Bar                             1
Japan Center East Mall               1
The Lunchpad                         1
Fitness SF                           1
yakiniQ                              1
Union Squared                        1
Le Pain Quotidien                    1
Warby Parker                         1
Nucha Empanadas                      1
Rag & Bone                           1
Tower Burger                         1
LaSalle Street Financial District    1
BIBIBOP Asian Grill                  1
Barrel Head Brewhouse                1
Name: Venue, Length: 377, dtype: int64

In [76]:
venues[350:400]


# one hot encoding
onehot = pd.get_dummies(venues[['Venue Category']], prefix="", prefix_sep="")

# add neighborhood column back to dataframe
onehot['point_name'] = venues['Point Name'] 
onehot['point_lat'] = venues['Neighborhood Latitude'] 
onehot['point_lon'] = venues['Neighborhood Longitude'] 
onehot['isStarbucks'] = (venues['Venue'] == "Starbucks")
# move neighborhood column to the first column
fixed_columns = [onehot.columns[-3]] + [onehot.columns[-2]] + [onehot.columns[-1]] + list(onehot.columns[:-3])
onehot = onehot[fixed_columns]

onehot.isStarbucks = onehot.isStarbucks.astype(int)

onehot.head()
onehot['isStarbucks'].value_counts()

0    389
1      4
Name: isStarbucks, dtype: int64

In [77]:
venues.head()

,Point Name,Neighborhood Latitude,Neighborhood Longitude,Venue,Venue Latitude,Venue Longitude,Venue Distance,Venue Category
0,point0,37.7749,-122.4194,New Conservatory Theatre Center,37.775591,-122.419753,82,Theater
1,point0,37.7749,-122.4194,Cala,37.776063,-122.420386,155,Mexican Restaurant
2,point0,37.7749,-122.4194,San Francisco Conservatory of Music,37.775489,-122.420381,108,Music School
3,point0,37.7749,-122.4194,Forgery,37.773912,-122.417499,200,Cocktail Bar
4,point0,37.7749,-122.4194,RT Rotisserie,37.775204,-122.421061,150,New American Restaurant

In [78]:
grouped = onehot.groupby('point_name').mean().reset_index()
grouped

,point_name,point_lat,point_lon,isStarbucks,Accessories Store,American Restaurant,Arcade,Art Gallery,Arts & Crafts Store,Asian Restaurant,...,Theater,Vegetarian / Vegan Restaurant,Video Store,Vietnamese Restaurant,Whisky Bar,Wine Bar,Wine Shop,Wings Joint,Women's Store,Yoga Studio
0,point0,37.774900,-122.419400,0.000000,0.000000,0.022222,0.00,0.000000,0.000000,0.000000,...,0.022222,0.000000,0.00,0.000000,0.022222,0.044444,0.000000,0.000000,0.000000,0.000000
1,point1,41.878100,-87.629800,0.035714,0.000000,0.035714,0.00,0.000000,0.000000,0.017857,...,0.000000,0.017857,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,point10,37.790278,-122.452856,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,point11,37.776694,-122.424909,0.000000,0.011111,0.000000,0.00,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.00,0.011111,0.000000,0.055556,0.022222,0.000000,0.000000,0.011111
4,point12,37.784231,-122.427402,0.000000,0.000000,0.000000,0.04,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.04,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
5,point13,37.776961,-122.458635,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.111111,0.000000
6,point2,34.052200,-118.243700,0.000000,0.000000,0.055556,0.00,0.055556,0.055556,0.000000,...,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
7,point3,37.744644,-122.452731,0.083333,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
8,point4,37.790783,-122.428801,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
9,point5,37.775782,-122.445641,0.050000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.05,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
10,point6,37.772739,-122.454026,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
11,point7,37.788490,-122.430317,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.052632,...,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
12,point8,37.772813,-122.431986,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.00,0.028571,0.000000,0.000000,0.000000,0.028571,0.000000,0.000000
13,point9,37.771076,-122.414235,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.00,0.000000,0.021739,0.000000,0.000000,0.000000,0.000000,0.000000

In [65]:
num_top_venues = 50

for point in grouped['point_name']:
    print("----"+point+"----")
    temp = grouped[grouped['point_name'] == point].T.reset_index()
    temp.columns = ['venue','freq']
    temp = temp.iloc[2:]
    temp['freq'] = temp['freq'].astype(float)
    temp = temp.round({'freq': 2})
    print(temp.sort_values('freq', ascending=False).reset_index(drop=True).head(num_top_venues))
    print('\n')

----point0----
                            venue  freq
0                     Coffee Shop  0.07
1         New American Restaurant  0.07
2                    Cocktail Bar  0.04
3                        Wine Bar  0.04
4              Mexican Restaurant  0.04
5                            Café  0.04
6                   Deli / Bodega  0.02
7                      Food Truck  0.02
8              Salon / Barbershop  0.02
9                       Roof Deck  0.02
10                      Rock Club  0.02
11               Ramen Restaurant  0.02
12                     Poke Place  0.02
13                    Pizza Place  0.02
14              Food & Drink Shop  0.02
15                            Gym  0.02
16                       Pet Café  0.02
17          Performing Arts Venue  0.02
18           Gym / Fitness Center  0.02
19                   Music School  0.02
20             Italian Restaurant  0.02
21                      Jazz Club  0.02
22                      Juice Bar  0.02
23                 Massage Studio  0.02
24              Martial Arts Dojo  0.02
25               Malay Restaurant  0.02
26                    Candy Store  0.02
27                         Lounge  0.02
28                       Beer Bar  0.02
29                     Taco Place  0.02
30                        Theater  0.02
31                      Bookstore  0.02
32                     Whisky Bar  0.02
33           Brazilian Restaurant  0.02
34                   Burger Joint  0.02
35            American Restaurant  0.02
36                         Bakery  0.02
37           Other Great Outdoors  0.00
38                   Optical Shop  0.00
39  Paper / Office Supplies Store  0.00
40                           Park  0.00
41                   Noodle House  0.00
42               Pedestrian Plaza  0.00
43                      Nightclub  0.00
44                Thai Restaurant  0.00
45  Vegetarian / Vegan Restaurant  0.00
46                    Music Store  0.00
47                      Speakeasy  0.00
48                   Tennis Court  0.00
49                  Movie Theater  0.00


----point1----
                            venue  freq
0                     Coffee Shop  0.11
1                  Sandwich Place  0.11
2                     Salad Place  0.04
3             American Restaurant  0.04
4                        Boutique  0.04
5                           Hotel  0.04
6                    Dessert Shop  0.02
7                       Cafeteria  0.02
8             Fried Chicken Joint  0.02
9                    Camera Store  0.02
10                    Snack Place  0.02
11                     Smoke Shop  0.02
12             Seafood Restaurant  0.02
13           Gym / Fitness Center  0.02
14                       Dive Bar  0.02
15               Stationery Store  0.02
16                    Pizza Place  0.02
17                     Donut Shop  0.02
18              German Restaurant  0.02
19                 General Travel  0.02
20                 Farmers Market  0.02
21                         Garden  0.02
22                     Public Art  0.02
23                     Poke Place  0.02
24                     Food Court  0.02
25                     Food Truck  0.02
26             Italian Restaurant  0.02
27                           Café  0.02
28              French Restaurant  0.02
29                     Taco Place  0.02
30  Vegetarian / Vegan Restaurant  0.02
31                   Optical Shop  0.02
32                         Bakery  0.02
33                       Tea Room  0.02
34                      Bookstore  0.02
35                            Bar  0.02
36                         Museum  0.02
37                      BBQ Joint  0.02
38               Asian Restaurant  0.02
39                         Market  0.02
40                Bubble Tea Shop  0.02
41                   Burger Joint  0.02
42      Middle Eastern Restaurant  0.00
43             Mexican Restaurant  0.00
44             Miscellaneous Shop  0.00
45                Motorcycle Shop  0.00
46                     Playground  0.00
47                  Movie Theater  0.00
48                          Plaza  0.00
49           Other Great Outdoors  0.00


----point10----
                            venue  freq
0                  Baseball Field  0.17
1                      Public Art  0.17
2                      Playground  0.17
3              Miscellaneous Shop  0.17
4                      Baby Store  0.17
5                            Park  0.17
6             Japanese Restaurant  0.00
7         New American Restaurant  0.00
8                       Nightclub  0.00
9                    Noodle House  0.00
10                   Optical Shop  0.00
11           Other Great Outdoors  0.00
12  Paper / Office Supplies Store  0.00
13               Pedestrian Plaza  0.00
14                   Music School  0.00
15          Performing Arts Venue  0.00
16                       Pet Café  0.00
17                      Pet Store  0.00
18                       Pharmacy  0.00
19                    Pizza Place  0.00
20                          Plaza  0.00
21                     Poke Place  0.00
22                    Music Store  0.00
23                  Movie Theater  0.00
24                         Museum  0.00
25                Motorcycle Shop  0.00
26                     Kids Store  0.00
27              Korean Restaurant  0.00
28                Laundry Service  0.00
29                 Lingerie Store  0.00
30                   Liquor Store  0.00
31                         Lounge  0.00
32                  Luggage Store  0.00
33               Malay Restaurant  0.00
34                         Market  0.00
35              Martial Arts Dojo  0.00
36                 Massage Studio  0.00
37       Mediterranean Restaurant  0.00
38                    Men's Store  0.00
39             Mexican Restaurant  0.00
40      Middle Eastern Restaurant  0.00
41                           Pool  0.00
42               Ramen Restaurant  0.00
43                  Jewelry Store  0.00
44                        Theater  0.00
45                    Supermarket  0.00
46               Sushi Restaurant  0.00
47                     Taco Place  0.00
48               Tapas Restaurant  0.00
49                       Tea Room  0.00


----point11----
                       venue  freq
0                   Boutique  0.10
1             Clothing Store  0.06
2                   Wine Bar  0.06
3                       Café  0.04
4          French Restaurant  0.04
5               Cocktail Bar  0.03
6               Optical Shop  0.03
7     Furniture / Home Store  0.03
8                Coffee Shop  0.02
9                Pizza Place  0.02
10            Ice Cream Shop  0.02
11                 Juice Bar  0.02
12                    Bakery  0.02
13              Dessert Shop  0.02
14              Liquor Store  0.02
15                 Wine Shop  0.02
16          Sushi Restaurant  0.02
17             Grocery Store  0.01
18               Event Space  0.01
19                Restaurant  0.01
20            Sandwich Place  0.01
21                Playground  0.01
22                Shoe Store  0.01
23         German Restaurant  0.01
24               Yoga Studio  0.01
25                       Gym  0.01
26          Pedestrian Plaza  0.01
27             Souvlaki Shop  0.01
28        Italian Restaurant  0.01
29         Accessories Store  0.01
30                 Jazz Club  0.01
31             Jewelry Store  0.01
32                Kids Store  0.01
33   New American Restaurant  0.01
34            Lingerie Store  0.01
35             Luggage Store  0.01
36  Mediterranean Restaurant  0.01
37               Men's Store  0.01
38                      Park  0.01
39        Mexican Restaurant  0.01
40                Comic Shop  0.01
41              Camera Store  0.01
42     Vietnamese Restaurant  0.01
43                Bagel Shop  0.01
44                       Bar  0.01
45           Thai Restaurant  0.01
46               Beer Garden  0.01
47  Bike Rental / Bike Share  0.01
48                 Bike Shop  0.01
49                   Butcher  0.01


----point12----
                            venue  freq
0                   Shopping Mall  0.12
1               Korean Restaurant  0.08
2                  Cosmetics Shop  0.08
3                Sushi Restaurant  0.08
4             Japanese Restaurant  0.04
5                           Hotel  0.04
6                Ramen Restaurant  0.04
7                  Discount Store  0.04
8                    Dessert Shop  0.04
9                        Creperie  0.04
10                   Cocktail Bar  0.04
11             Chinese Restaurant  0.04
12                           Café  0.04
13         Furniture / Home Store  0.04
14                      Gift Shop  0.04
15           Gym / Fitness Center  0.04
16                          Plaza  0.04
17                         Arcade  0.04
18                     Bath House  0.04
19                    Video Store  0.04
20                Motorcycle Shop  0.00
21              Martial Arts Dojo  0.00
22               Pedestrian Plaza  0.00
23                 Massage Studio  0.00
24          Performing Arts Venue  0.00
25                       Pet Café  0.00
26                      Pet Store  0.00
27                         Market  0.00
28                       Pharmacy  0.00
29                    Pizza Place  0.00
30                     Playground  0.00
31               Malay Restaurant  0.00
32                  Luggage Store  0.00
33                           Park  0.00
34  Paper / Office Supplies Store  0.00
35             Miscellaneous Shop  0.00
36           Other Great Outdoors  0.00
37       Mediterranean Restaurant  0.00
38                    Men's Store  0.00
39             Mexican Restaurant  0.00
40                   Optical Shop  0.00
41                   Noodle House  0.00
42                      Nightclub  0.00
43                     Poke Place  0.00
44      Middle Eastern Restaurant  0.00
45                    Music Store  0.00
46                   Music School  0.00
47                         Museum  0.00
48                  Movie Theater  0.00
49        New American Restaurant  0.00


----point13----
                            venue  freq
0                            Pool  0.11
1                    Burger Joint  0.11
2                   Deli / Bodega  0.11
3                Sushi Restaurant  0.11
4                            Café  0.11
5                            Park  0.11
6                  Baseball Field  0.11
7                           Field  0.11
8                   Women's Store  0.11
9                       Pet Store  0.00
10                       Pet Café  0.00
11          Performing Arts Venue  0.00
12               Pedestrian Plaza  0.00
13                       Pharmacy  0.00
14                    Pizza Place  0.00
15                     Playground  0.00
16  Paper / Office Supplies Store  0.00
17                          Plaza  0.00
18                     Poke Place  0.00
19           Other Great Outdoors  0.00
20                   Optical Shop  0.00
21                   Noodle House  0.00
22                      Nightclub  0.00
23        New American Restaurant  0.00
24            Japanese Restaurant  0.00
25                    Music Store  0.00
26                   Music School  0.00
27              Korean Restaurant  0.00
28                Laundry Service  0.00
29                 Lingerie Store  0.00
30                   Liquor Store  0.00
31                         Lounge  0.00
32                  Luggage Store  0.00
33               Malay Restaurant  0.00
34                         Market  0.00
35              Martial Arts Dojo  0.00
36                 Massage Studio  0.00
37       Mediterranean Restaurant  0.00
38                    Men's Store  0.00
39             Mexican Restaurant  0.00
40      Middle Eastern Restaurant  0.00
41             Miscellaneous Shop  0.00
42                Motorcycle Shop  0.00
43                  Movie Theater  0.00
44                         Museum  0.00
45               Ramen Restaurant  0.00
46                     Public Art  0.00
47                Thai Restaurant  0.00
48               Stationery Store  0.00
49          Street Food Gathering  0.00


----point2----
                            venue  freq
0               Indian Restaurant  0.06
1                Sushi Restaurant  0.06
2                       Bookstore  0.06
3                     Supermarket  0.06
4               Food & Drink Shop  0.06
5           Indonesian Restaurant  0.06
6                   Movie Theater  0.06
7                       Speakeasy  0.06
8       Japanese Curry Restaurant  0.06
9                        Pharmacy  0.06
10                      Jazz Club  0.06
11                      BBQ Joint  0.06
12                  Deli / Bodega  0.06
13            Arts & Crafts Store  0.06
14                    Art Gallery  0.06
15                   Noodle House  0.06
16            American Restaurant  0.06
17             Mexican Restaurant  0.06
18                   Optical Shop  0.00
19           Other Great Outdoors  0.00
20  Paper / Office Supplies Store  0.00
21            Japanese Restaurant  0.00
22                           Park  0.00
23               Pedestrian Plaza  0.00
24          Performing Arts Venue  0.00
25        New American Restaurant  0.00
26                       Pet Café  0.00
27                      Pet Store  0.00
28                    Pizza Place  0.00
29                     Playground  0.00
30                      Nightclub  0.00
31             Miscellaneous Shop  0.00
32                    Music Store  0.00
33                   Music School  0.00
34                         Museum  0.00
35                Motorcycle Shop  0.00
36                     Poke Place  0.00
37      Middle Eastern Restaurant  0.00
38                    Men's Store  0.00
39       Mediterranean Restaurant  0.00
40                 Massage Studio  0.00
41              Martial Arts Dojo  0.00
42                         Market  0.00
43               Malay Restaurant  0.00
44                  Luggage Store  0.00
45                         Lounge  0.00
46                   Liquor Store  0.00
47                          Plaza  0.00
48                    Record Shop  0.00
49                           Pool  0.00


----point3----
                            venue  freq
0                        Dive Bar  0.08
1                        Pharmacy  0.08
2                        Bus Stop  0.08
3                            Café  0.08
4                   Grocery Store  0.08
5                  Chocolate Shop  0.08
6                    Burger Joint  0.08
7                     Coffee Shop  0.08
8                  Sandwich Place  0.08
9               Convenience Store  0.08
10                   Liquor Store  0.08
11                  Burrito Place  0.08
12                    Pizza Place  0.00
13                      Pet Store  0.00
14                     Playground  0.00
15                          Plaza  0.00
16                       Pet Café  0.00
17          Performing Arts Venue  0.00
18               Pedestrian Plaza  0.00
19                     Poke Place  0.00
20                           Park  0.00
21  Paper / Office Supplies Store  0.00
22                           Pool  0.00
23           Other Great Outdoors  0.00
24            Japanese Restaurant  0.00
25                   Optical Shop  0.00
26                     Public Art  0.00
27                 Lingerie Store  0.00
28                         Lounge  0.00
29                  Luggage Store  0.00
30               Malay Restaurant  0.00
31                         Market  0.00
32              Martial Arts Dojo  0.00
33                 Massage Studio  0.00
34       Mediterranean Restaurant  0.00
35                    Men's Store  0.00
36             Mexican Restaurant  0.00
37      Middle Eastern Restaurant  0.00
38             Miscellaneous Shop  0.00
39                Motorcycle Shop  0.00
40                  Movie Theater  0.00
41                         Museum  0.00
42                   Music School  0.00
43                    Music Store  0.00
44        New American Restaurant  0.00
45                      Nightclub  0.00
46                   Noodle House  0.00
47                      Rock Club  0.00
48               Ramen Restaurant  0.00
49                        Theater  0.00


----point4----
                            venue  freq
0                            Park  0.33
1                         Dog Run  0.33
2                    Tennis Court  0.33
3   Paper / Office Supplies Store  0.00
4                    Music School  0.00
5                     Music Store  0.00
6         New American Restaurant  0.00
7                       Nightclub  0.00
8                    Noodle House  0.00
9                    Optical Shop  0.00
10           Other Great Outdoors  0.00
11            Japanese Restaurant  0.00
12                  Movie Theater  0.00
13               Pedestrian Plaza  0.00
14          Performing Arts Venue  0.00
15                       Pet Café  0.00
16                      Pet Store  0.00
17                       Pharmacy  0.00
18                    Pizza Place  0.00
19                     Playground  0.00
20                         Museum  0.00
21                Motorcycle Shop  0.00
22                     Poke Place  0.00
23                  Luggage Store  0.00
24                      Juice Bar  0.00
25                     Kids Store  0.00
26              Korean Restaurant  0.00
27                Laundry Service  0.00
28                 Lingerie Store  0.00
29                   Liquor Store  0.00
30                         Lounge  0.00
31               Malay Restaurant  0.00
32             Miscellaneous Shop  0.00
33                         Market  0.00
34              Martial Arts Dojo  0.00
35                 Massage Studio  0.00
36       Mediterranean Restaurant  0.00
37                    Men's Store  0.00
38             Mexican Restaurant  0.00
39      Middle Eastern Restaurant  0.00
40                          Plaza  0.00
41                           Pool  0.00
42                      Jazz Club  0.00
43                     Public Art  0.00
44               Stationery Store  0.00
45          Street Food Gathering  0.00
46                    Supermarket  0.00
47               Sushi Restaurant  0.00
48                     Taco Place  0.00
49               Tapas Restaurant  0.00


----point5----
                            venue  freq
0                            Bank  0.10
1                     Coffee Shop  0.10
2                         Dog Run  0.05
3                            Café  0.05
4                         Brewery  0.05
5                Sculpture Garden  0.05
6              Salon / Barbershop  0.05
7                     Flower Shop  0.05
8                     Supermarket  0.05
9              Mexican Restaurant  0.05
10              Convenience Store  0.05
11      Middle Eastern Restaurant  0.05
12                 Massage Studio  0.05
13                    Video Store  0.05
14    Eastern European Restaurant  0.05
15                  Deli / Bodega  0.05
16                   Liquor Store  0.05
17              French Restaurant  0.05
18                       Pharmacy  0.00
19  Paper / Office Supplies Store  0.00
20                      Pet Store  0.00
21                       Pet Café  0.00
22                    Pizza Place  0.00
23                     Playground  0.00
24          Performing Arts Venue  0.00
25                          Plaza  0.00
26               Pedestrian Plaza  0.00
27                           Park  0.00
28            Japanese Restaurant  0.00
29           Other Great Outdoors  0.00
30             Miscellaneous Shop  0.00
31                         Lounge  0.00
32                  Luggage Store  0.00
33               Malay Restaurant  0.00
34                         Market  0.00
35              Martial Arts Dojo  0.00
36       Mediterranean Restaurant  0.00
37                    Men's Store  0.00
38                Motorcycle Shop  0.00
39                   Optical Shop  0.00
40                  Movie Theater  0.00
41                         Museum  0.00

In [79]:
grouped.head()

,point_name,point_lat,point_lon,isStarbucks,Accessories Store,American Restaurant,Arcade,Art Gallery,Arts & Crafts Store,Asian Restaurant,...,Theater,Vegetarian / Vegan Restaurant,Video Store,Vietnamese Restaurant,Whisky Bar,Wine Bar,Wine Shop,Wings Joint,Women's Store,Yoga Studio
0,point0,37.774900,-122.419400,0.000000,0.000000,0.022222,0.00,0.0,0.0,0.000000,...,0.022222,0.000000,0.00,0.000000,0.022222,0.044444,0.000000,0.0,0.0,0.000000
1,point1,41.878100,-87.629800,0.035714,0.000000,0.035714,0.00,0.0,0.0,0.017857,...,0.000000,0.017857,0.00,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000
2,point10,37.790278,-122.452856,0.000000,0.000000,0.000000,0.00,0.0,0.0,0.000000,...,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000
3,point11,37.776694,-122.424909,0.000000,0.011111,0.000000,0.00,0.0,0.0,0.000000,...,0.000000,0.000000,0.00,0.011111,0.000000,0.055556,0.022222,0.0,0.0,0.011111
4,point12,37.784231,-122.427402,0.000000,0.000000,0.000000,0.04,0.0,0.0,0.000000,...,0.000000,0.000000,0.04,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000

In [85]:
y = grouped['isStarbucks'] > 0
y = pd.DataFrame(y)
y = y.isStarbucks.astype(int)
print(y.value_counts())
X = grouped
print(X.shape)
X .drop(columns=['point_name', 'point_lat', 'point_lon', 'isStarbucks'], inplace=True)
print(X.columns)
print(X.shape)

0    11
1     3
Name: isStarbucks, dtype: int64
(14, 166)
Index(['Accessories Store', 'American Restaurant', 'Arcade', 'Art Gallery',
       'Arts & Crafts Store', 'Asian Restaurant', 'BBQ Joint', 'Baby Store',
       'Bagel Shop', 'Bakery',
       ...
       'Theater', 'Vegetarian / Vegan Restaurant', 'Video Store',
       'Vietnamese Restaurant', 'Whisky Bar', 'Wine Bar', 'Wine Shop',
       'Wings Joint', 'Women's Store', 'Yoga Studio'],
      dtype='object', length=162)
(14, 162)

In [89]:
from sklearn.model_selection import train_test_split
# create training and testing vars
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)
print(X_train.shape, y_train.shape)
print(X_test.shape, y_test.shape)

(11, 162) (11,)
(3, 162) (3,)

In [91]:
import sklearn as sk  
from sklearn.ensemble import RandomForestClassifier

RF = RandomForestClassifier(n_estimators=100, max_depth=2, random_state=0)  
RF.fit(X, y)  
RF.predict(X)  
round(RF.score(X,y), 4)

0.92859999999999998